<label for="dropdown" class="dropdown_label">
    <span class="icon">Insert your icon here</span>
</label>
<div class="dropdown" id="dropdown">
    <select>
        <option value='1'>Option 1</option>
        <option value='2'>Option 2</option>
        <option value='3'>Option 3</option>
    </select>
</div>
