/* ==========================================================================
 # Dropdown Selection
========================================================================== */

label.dropdown_label {
    position: relative;
    right: -8px;
}

label.dropdown_label .menu-item__link__sphere {
    background: transparent;
    border: 0;
}

label.dropdown_label svg.icon {
    transform: rotate(90deg);
}

.dropdown:focus {
    background: white url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="10" height="16" transform="rotate(180)" viewBox="0 0 18 28"><title>caret-down</title><path fill="%23003478" class="icon" d="M16.797 11.5c0 0.125-0.063 0.266-0.156 0.359l-7.281 7.281c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-7.281-7.281c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l0.781-0.781c0.094-0.094 0.219-0.156 0.359-0.156 0.125 0 0.266 0.063 0.359 0.156l6.141 6.141 6.141-6.141c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l0.781 0.781c0.094 0.094 0.156 0.234 0.156 0.359z"></path></svg>') no-repeat right 40px top 50%;
    border: none;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.dropdown {
    position: relative;
    font-family: inherit;
    background: transparent url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 18 28"><title>caret-down</title><path fill="%23003478" class="icon" d="M16.797 11.5c0 0.125-0.063 0.266-0.156 0.359l-7.281 7.281c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-7.281-7.281c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l0.781-0.781c0.094-0.094 0.219-0.156 0.359-0.156 0.125 0 0.266 0.063 0.359 0.156l6.141 6.141 6.141-6.141c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l0.781 0.781c0.094 0.094 0.156 0.234 0.156 0.359z"></path></svg>') no-repeat right 50px top 50%;
    padding: -1em 3.5em .5em 1em;
    width: 150px;
    max-width: 150px;

    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    display: inline-flex;
    color: dodgerblue;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
    border: none;
    appearance: none;
    height: 29px;
}

.dropdown a {
    text-decoration: none;
}

.dropdown.active {
    background: transparent url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="10" height="16" transform="rotate(180)" viewBox="0 0 18 28"><title>caret-down</title><path fill="%23003478" class="icon" d="M16.797 11.5c0 0.125-0.063 0.266-0.156 0.359l-7.281 7.281c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-7.281-7.281c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l0.781-0.781c0.094-0.094 0.219-0.156 0.359-0.156 0.125 0 0.266 0.063 0.359 0.156l6.141 6.141 6.141-6.141c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l0.781 0.781c0.094 0.094 0.156 0.234 0.156 0.359z"></path></svg>') no-repeat right 50px top 50%;
}

.dropdown select {
    display: none;
}

.select-selected {
    background-color: transparent;
}

.select-items div, .select-selected {
    color: dodgerblue;
    padding: 2px 22px;
    border: none;
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-items div {
    padding-bottom: 10px;
    padding-top: 10px;
}

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
